Django
django-cors-headers
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
idna
oauthlib
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
requests-oauthlib
six
django-utils-six
social-auth-app-django
social-auth-core
sqlparse
urllib3
django_otp
django-two-factor-auth
django-phonenumbers
Pillow
channels
daphne
channels-redis
websocket-client
django-rest-swagger